{% extends '../base.html' %}

{% block headtitle %}| Home {% endblock headtitle %}

{% block content %}

<div class="row text-center">
    <div class="col">
        <h1>Welcome to Twoitter</h1>
    </div>
</div>

<div class="row" id="twoits">
    Loading...
</div>

<script>
    const twoitsElement = document.getElementById('twoits');
    const xhr = new XMLHttpRequest();
    const method = 'GET'; //POST
    const url = '/twoits';
    const responseType = 'json';

    function handleDidLike (twoit_id, currentCount){
        console.log(twoit_id, currentCount);
        return
    }

    function LikeBtn(twoit) {
        return "<button class='btn btn-primary btn-small' onclick=handleDidLike(" +
            twoit.id + "," + twoit.likes +")>" + twoit.likes + " Likes</button>"
    }

    function formatTwoitElement(twoit) {
        formattedTwoit = '<div class="col-12 col-md-10 py-3 mx-auto border rounded mb-4" id="tweet-' + twoit.id
            + '">' + '<p>' + twoit.content +
            '</p><div class="btn-group">' + LikeBtn(twoit) + '</div></div>';
        return formattedTwoit;
    }
    // Use this syntax to perform a request from xhtml to our endpoints
    xhr.responseType = responseType;
    xhr.open(method, url);
    xhr.onload = function() {
        const serverResponse = xhr.response
        const listedItems = serverResponse.response;
        let finalTwoitStr = "";
        listedItems.map((item) => {
            finalTwoitStr += formatTwoitElement(item);
        })
        twoitsElement.innerHTML = finalTwoitStr;
    }
    xhr.send();
</script>
{% endblock content %}
